<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 加载数据库配置文件  -->
    <properties resource="jdbc.properties"/>

    <!--  别名 -->
    <typeAliases >
        <!--<typeAlias type="com.xixi.Jiansu.pojo.Person" alias="Person"/>-->
        <package name="com.xixi.Jiansu.pojo"/>
    </typeAliases>

    <!-- 配置全局属性 -->
    <!--<settings>-->
        <!--&lt;!&ndash; 使用jdbc的getGeneratedKeys获取数据库自增主键值 &ndash;&gt;-->
        <!--<setting name="useGeneratedKeys" value="true" />-->

        <!--&lt;!&ndash; 使用列别名替换列名 默认:true &ndash;&gt;-->
        <!--<setting name="useColumnLabel" value="true" />-->

        <!--&lt;!&ndash; 开启驼峰命名转换:Table{create_time} -> Entity{createTime} &ndash;&gt;-->
        <!--<setting name="mapUnderscoreToCamelCase" value="true" />-->
    <!--</settings>-->

    <!--配置环境，因为当前没有web环境。当前环境为开发环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/xixi/Jiansu/mapper/Person.xml"/>
        <mapper resource="com/xixi/Jiansu/mapper/PersonRelation.xml"/>
        <!--<package name="com.xixi.Jiansu.mapper"/>-->
    </mappers>
</configuration>